.hero {
  width: 80%;
  height: 70%;
  background: linear-gradient(45deg, #6f00ff, #00acea);
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text-container {
  margin: auto 30px;
  text-align: center;
}

.hero-text {
  color: white;
  text-align: center;
}

h1.hero-text {
  font-weight: bold;
}

.hero-button {
  padding: 10px 15px;
  color: white;
  font-size: 30px;
  position: relative;
  top: 50px;
  font-weight: bold;
  text-decoration: none;
  border: solid 1px white;
  border-radius: 10px;
  transition: color 0.5s, background 0.5s, mix-blend-mode 0.5s, color 0.5s;

  &:hover {
    color: black;
    background: white;
    text-decoration: none;
    mix-blend-mode: screen;
  }
}
