.hero {
  width: 80%;
  height: 70%;
  background: linear-gradient(45deg, #6f00ff, #123456);
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text-container {
  margin: auto 0;
}

.hero-text {
  color: white;
  text-align: center;
}

h1.hero-text {
  font-weight: bold;
}
