nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: inline;
  margin-left: 10%;
  margin-right: 0;

  a {
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
}

#logo {
  width: 30px;
  height: 30px;
}

.links-section {
  margin-right: 10%;

  a {
    color: black;
    text-decoration: none;
    margin-left: 30px;

    &:hover {
      color: #6f00ff;
    }
  }
}

.signin {
  padding: 10px 15px;
  margin-left: 30px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  color: white;
  background: #6f00ff;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 1px 10px #6f00ff;
  }
}
